body {
    display: flex;
    flex-direction: column;
    /* empile éléments en colonne */
    justify-content: center;
    /* centre vertical */
    align-items: center;
    /* centre horizontal */
    min-height: 100vh;
    /* body prend toute hauteur écran */
    margin: 0;
    gap: 12px;
    /* espace entre éléments */
}

.songList {
    .songList {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }
}